@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@theme {

/* ============================== */
/*        COLOR PALETTE           */
/* ============================== */
--color-primary : #C8F37C ;
--color-secondary: #078659 ;
--color-color-title:#F3F3F3 ;
--color-color-body :#EAECEB;
--color-neutral :#060807 ;
--color-accent:#111827 ;

/* ============================== */
/*         Typography             */
/* ============================== */

--font-heading :"Rubik", "sans-serif";
--font-body :"Lexend Deca","sans-serif";

/* ============================== */
/*         Breakpoints            */
/* ============================== */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1600px;
}

